<%- include('../partials/header') %>

<body>
  <header>
    <a href="/admin"><h1>Admin Panel</h1></a>
    <div hidden id="spinner"></div>
    <div class="tabs">
      <a id="routes" href="javascript:void(0);">Routes</a>
      <a id="reports" href="javascript:void(0);">Reports</a>
    </div>
  </header>
  <div id="main"></div>

  <%- include('../partials/footer') %>
</body>
