<%- include('../partials/header') %>

<body>
  <header>
    <a href="/admin"><h1>Admin Panel</h1></a>
    <h5 style="padding: 10px;"><a href="/logout">Logout</a></h5>
    <div hidden id="spinner"></div>
    <!-- <div class="tabs">
      <a class="tab" id="routes" href="javascript:void(0);">Routes</a>
      <a class="tab" id="reports" href="javascript:void(0);">Reports</a>
      <a id="reports" href="/">App →</a>
      <div class="slider"></div>
    </div> -->
    <div class="Panel">
      <nav>
        <ul class="Tabs">
          <li id="routes" class="Tabs__tab active Tab"><a href="javascript:void(0);">Routes</a></li>
          <li id="reports" class="Tabs__tab Tab"><a href="javascript:void(0);">Reports</a></li>
          <li id="account" class="Tabs__tab Tab"><a href="javascript:void(0);">Account</a></li>
          <li id="gotoapp" class="Tabs__tab Tab"><a href="/">Goto App</a></li>
          <li class="Tabs__presentation-slider" role="presentation"></li>
        </ul>
        
      </nav>
  </header>
  <div id="main"></div>

  <%- include('../partials/footer') %>
</body>
