<span>
  <div hidden class="success-msg">This is a success message.</div>
</span>
<h2>Account</h2>
<div class="main">
  <div class="2fa">
    <h3>2 Factor Authentication</h3>

    <label class="switch">
      <input type="checkbox" id="2fa" />
      <span class="slider-switch round"></span>
    </label>
    <h4>TOTP (Time-based One Time Password)</h4>
  </div>
</div>
