/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
} */
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
  text-decoration: none;
}
/* ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}
.recipe{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
.recipe img{
  width: 100px;
  margin: -30px auto 20px;
} */

header {
  display: flex;
  align-items: center;
}
footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

.tabs {
  /* display: inline-block; */
  padding: 20px;
  letter-spacing: 2px;
}
.tabs > a {
  text-decoration: none;
  margin: 7px;
}

.tabs > a:hover {
  
}

/* table style */
table {
  width: 100%;
}
table thead th {
  padding: 10px 10px;
  background: #00adee;
  font-size: 15px;
  text-transform: uppercase;
  vertical-align: top;
  color: #1d4a5a;
  font-weight: normal;
  text-align: left;
}
table tbody tr td {
  padding: 10px;
  background: #f2f2f2;
  font-size: 14px;
}

.add,
.edit,
.save,
.delete {
  outline: none;
  background: none;
  border: none;
}

.edit,
.save,
.delete {
  padding: 5px 10px;
  cursor: pointer;
}

.add {
  float: right;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  padding: 0;
  padding: 3px 5px;
  cursor: pointer;
}
.add:hover {
  background: #ffffff;
  color: #00adee;
}

.save {
  display: none;
  background: #32ad60;
  color: #ffffff;
}
.save:hover {
  background: #27854a;
}

.edit {
  background: #2199e8;
  color: #ffffff;
}
.edit:hover {
  background: #147dc2;
}

.delete {
  background: #ec5840;
  color: #ffffff;
}
.delete:hover {
  background: #e23317;
}

/* ------------------- */


.Panel {
	width: 100%;
	max-width: 600px;
	margin: 30px auto;
}

.Panel__body {
		background-color: #f2f2f2;
		padding: 10px 20px;
	}

.Tabs {
	position: relative;
	background-color: #fff;
	
	/**
	 * OLD CODE (for reference)
	 * It's a bit easier to understand with "left",
	 * but the animation is not as smooth
	 */

	/* &__tab {
		float: left;
		width: 33.333%;
		text-align: center;
		&:first-child.active ~ .Tabs__presentation-slider {
			left: 0;
		}
		&:nth-child(2).active ~ .Tabs__presentation-slider {
			left: 33.333%;
		}
		&:nth-child(3).active ~ .Tabs__presentation-slider {
			left: calc(33.333% * 2);
		}
	}
	&__presentation-slider {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 33.333%;
		height: 2px;
		background-color: #4A66F4;
		transform-origin: 0 0;
		transition: left .25s;
	} */
}

.Tabs:after {
		content: ' ';
		display: table;
		clear: both;
	}

.Tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}

/**
	 * UPDATE: better to animate "transform" property than "left"
	 * property. You can see old code lower down for reference.
	 */

.Tabs__tab {
		float: left;
		width: 25%;
		text-align: center;
	}

.Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
			transform: translateX(0) scaleX(0.25);
		}

.Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
			transform: translateX(25%) scaleX(0.25);
		}

.Tabs__tab:nth-child(3).active ~ .Tabs__presentation-slider {
			transform: translateX(calc(25% * 2)) scaleX(0.25);
		}
.Tabs__tab:nth-child(4).active ~ .Tabs__presentation-slider {
			transform: translateX(calc(25% * 3)) scaleX(0.25);
		}

.Tabs__presentation-slider {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #4A66F4;
		transform-origin: 0 0;
		transition: transform .25s;
	}

  .slider {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #4A66F4;
		transform-origin: 0 0;
		transition: transform .25s;
	}

.Tab {
	font-family: 'Roboto Slab';
}

.Tab > a {
		display: block;
		padding: 10px 12px;
		text-decoration: none;
		color: #666;
		transition: color .15s;
	}

.Tab.active > a {
			color: #222;
		}

.Tab:hover > a {
			color: #222;
		}

    .info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  display: none;
}

.success-msg {
  color: #F96;
  background-color: #6F9;
}

ul.list_sbar {
  position:relative;
  overflow: hidden;
}
ul.list_sbar li {
  clear:both;
  border-top: solid 1px #ddd;
  min-height:22px;
  line-height: 22px;
  display: block;
  text-decoration: none;
  background: #fff;
  outline: 0;
  font-weight: normal;
  padding: 4px 9px;
}
ul.list_sbar li:last-child {
  border-bottom: solid 1px #ddd;
}
ul.list_sbar li a {
  text-decoration: none;
  z-index: 33;
  color: #666;
  margin-bottom: 0;
  display:inline-block;
  outline: 0;
  float:left;
}
ul.list_sbar li:hover {
  color: #111;
  background: #FFF2BE;
  -moz-box-shadow: inset 0 0 1px #333;
  -webkit-box-shadow: inset 0 0 1px #333;
  box-shadow: inset 0 0 1px #333;
}
ul.list_sbar li a:after {
  position: absolute;
  line-height: 22px;
  font-size: 18px;
  text-align: right;
  padding-right: 8px;
  /* content:"×"; */
  width: 20px;
  height: 100%;
  right: 0;
  color: #999;
}

ul.list_sbar li a.aftered:after{
  content: "x";
}

li.closable {
  content: "x";
}

/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-switch {
  background-color: #2196F3;
}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}

.main {
  margin: auto;
  width: 60%;
}