/* Small devices (portrait tablets, large phones) */
html, body {
    height:100%
}
@media only screen and (max-width: 767px) {
    * {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
      }
      #map {
        transition: 0.2s;
        /* padding: 16px; */
        height: 100%;
        width: 100%;
        margin-left: 0%;
        z-index: 2;
      }
      .buttonPanel {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            position: absolute;
            box-sizing: border-box;
            height: auto;
            width: auto;
            border-radius: 5px;
            bottom: 0.1%;
            z-index: 3;
            transition: 0.2s;
        }
        .toggles {
            color: #ffffff;
            padding-top: 45px;
            position: relative;
            width: 70px;
            height: 70px;
            background-color: #3F2B96;
            border-radius: 10px;
            border: 0;
            background-repeat: no-repeat;
            background-position: top;
            font-size: 10px;
            transition: 0.2s;
            z-index: 3;
        }
        #journeyBtn {
            background-image: url('../icons/journey.svg');
            background-size: 50px 50px;
        }
        #routesBtn {
            background-image: url('../icons/arrow_leftright.svg');
            background-size: 50px 50px;
        }
        .toggles:hover {
            background-color: #2a1d63;
            cursor: pointer;
        }
        .toggleIcons {
            width: 40px;
            height: 40px;
        }
        .panel{
            position: fixed;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            box-sizing: border-box;
            height: 0%;
            width: 100%;
            left: 0;
            bottom: 0;
            background: linear-gradient(#A8C0FF, #3F2B96);
            border-radius: 10px;
            transition: 0.2s;
            overflow: auto;
            visibility: hidden;
            /* height: inherit; */
            /* width: 250px; */
            z-index: 1;
        }
        .headDiv {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            position: relative;
            width: 100%;
            height: 10%;
            min-height: 10%;
            background-color: #3F2B96;
            border-radius: 10px 10px 0px 0px;
            overflow: hidden;
            justify-content: space-between;
        }
        .panelTitle {
            flex-wrap: nowrap;
            margin-left: 5%;
            margin-top: 2%;
            font-weight: normal;
            color: #ffffff;
            font-size: 1em;
            white-space: nowrap;
        }
        .closeBtn {
            position: relative;
            background-color: #3F2B96;
            border: 0px;
            width: 30px;
            height: 30px;
            margin-top: 2%;
            margin-left: 15%;
            background-image: url('../icons/close_x.svg');
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 5%;
        }
        .closeBtn:hover {
            cursor: pointer;
        }
        h2 {
            font-weight: normal;
            color: #ffffff;
            font-size: 0.9em;
            white-space: nowrap;
        }
        #org_des_div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 210px;
        }
        #searchRouteDiv {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .inputDiv {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        #goBtnDiv {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            overflow: hidden;
        }
        .textInput {
            margin-left: 15px;
            display: inline-block;
            width: 70%;
            border: 0px;
            border-radius: 10px;
            outline: 0;
            font-size: 15px;
            padding: 0px 10px 0px 10px;
            box-shadow: -6px 10px 8px -6px #808080 inset;
        }
        .smallBtn,
        #searchBtn {
            background-color: #3F2B96;
            color: #ffffff;
            border: 0px;
            width: 30px;
            height: 30px;
            float: right;
            margin-right: 15px;
            border-radius: 10px;
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: -6px 10px 8px -6px #808080;
        }
        #destinationBtn,
        #originBtn {
            background-image: url('../icons/marker.svg');
        }
        #refreshBtn {
            position: relative;
            background-image: url('../icons/refresh.svg');
            bottom: 20px;
            align-self: flex-end;
        }
        .smallBtn:hover {
            background-color: #2a1d63;
            cursor: pointer;
        }
        #searchBtn {
            background-image: url('../icons/search_slim.svg');
        }
        #searchBtn:hover {
            background-color: #2a1d63;
            cursor: pointer;
        }
        .inputLabel {
            margin-left: 5%;
        }
        #goBtn {
            background-color: #3F2B96;
            border: 0px;
            color: #ffffff;
            border-radius: 10px;
            width: 100px;
            height: 30px;
            font-size: 15px;
            box-shadow: -6px 10px 8px -6px #808080;
        }
        #goBtn:hover {
            background-color: #2a1d63;
            cursor: pointer;
        }
        #itineraries {
            margin-left: 5%;
        }
        .outputPanel {
            position: relative;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 94%;
            border-radius: 10px;
            margin-right: auto;
            box-shadow: -6px 10px 8px -6px #808080 inset;
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            overflow: auto;
        }
        #journeyOutputPanel {
            top: -10px;
            height: 59%;
        }
        #routesOutputPanel {
            height: 74%;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        .outputItem {
            margin-top: 1%;
            margin-left: auto;
            margin-right: auto;
            font-size: 15px;
            color: #3F2B96;
            width: 90%;
            border-radius: 5px;
            box-shadow: -6px 10px 8px -6px #808080;
            border: 2px solid rgba(0, 0, 0, .3);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
        .outputItem:hover {
            cursor: pointer;
        }
        .jeepneyIcon {
            display: inline-block;
            background-color: #3F2B96;
            width: 50px;
            height: 54px;
            border-radius: 5px 0px 0px 5px;
        }
        .routeName {
            position: relative;
            display: inline-block;
            font-size: 15px;
            flex-grow: 3;
            text-align: center;
            white-space: nowrap;
        }
        #hideShowDiv {
            margin-top: 20px;
            margin-bottom: 7px;
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0px 15px 0px 15px;
        }
        .toggleRouteBtn {
            overflow: hidden;
            white-space: nowrap;
            background-color: #3F2B96;
            border: 0px;
            height: 40px;
            width: 70px;
            color: #ffffff;
            border-radius: 10px;
            box-shadow: -6px 10px 8px -6px #808080;
            margin-bottom: 10px;
        }
        #hideAllBtn {
            margin-left: 5px;
        }
        .toggleRouteBtn:hover {
            background-color: #2a1d63;
            cursor: pointer;
        }
         ::-webkit-scrollbar {
            width: 10px;
            /*vertical scroll bar*/
            height: 10px;
            /*horizontal scroll bar*/
        }
         ::-webkit-scrollbar-track {
            border-radius: 10px;
        }
         ::-webkit-scrollbar-thumb {
            background: #3F2B96;
            border-radius: 10px;
            border: 2px solid #A8C0FF;
        }
         ::-webkit-scrollbar-thumb:hover {
            background: #2a1d63;
        }
        .dropbtn {
            text-align: left;
        }
}